<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center"> 
     Audio Files
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="margin-top:5vh;" *ngIf="AudioFiles.Audio.length>0">
    
    <ion-item *ngFor="let audio of AudioFiles.Audio">
      <ion-item-divider>
          <ion-label>{{audio.fileName}}</ion-label>
          <ion-icon name="play" slot="end"  (click)="playAudio(audio.filePath)" *ngIf="fileURI != audio.filePath || playing == false"></ion-icon>
          <ion-icon name="pause" slot="end" *ngIf="fileURI == audio.filePath && playing == true" (click)="stopAudio(audio.filePath)"></ion-icon>
      </ion-item-divider>
      
    </ion-item>
  </ion-list>
  <ion-row *ngIf="!AudioFiles.Audio.length||AudioFiles.Audio.length==0" style="justify-content: center;height:100vh;align-items: center">
      <ion-label ><strong>No Audio Files Found</strong></ion-label>
  </ion-row>
  
</ion-content>
