<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;
    padding:10px 0px">
      Record your Audio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="recording-card">
      <ion-card-header>
       
        
      </ion-card-header>
      
      <ion-card-content > 
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <ion-row *ngIf="recording==false" style="justify-content: center">
                    <ion-button (click)="startRecord()" >
                    <ion-icon name="mic" color="dark"></ion-icon>&nbsp;&nbsp;Start Recording
                  </ion-button>
                </ion-row>
                <ion-row *ngIf="recording==true" style="justify-content: center">
                    <ion-button color="light" (click)="stopRecord()" >
                        <ion-icon name="radio-button-on" style="color:red"></ion-icon>&nbsp;&nbsp;Stop recording
                      </ion-button>
                </ion-row>
            </ion-col>
              
              
              <ion-col></ion-col>
            </ion-row>
        </ion-grid>
        
        </ion-card-content>
      </ion-card>
</ion-content>
  