<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;
    padding:10px 0px">
      Record your Audio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="recording-card">
      <ion-card-header>
       
        
      </ion-card-header>
      
      <ion-card-content > 
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-button >
                <ion-icon name="mic" color="dark"></ion-icon>&nbsp;&nbsp;Start Recording
              </ion-button>
              <ion-col></ion-col>
            </ion-row>
        </ion-grid>
        
        </ion-card-content>
      </ion-card>
</ion-content>
  